---
import Layout from '../layouts/Layout.astro'

import VueComponent from '../components/VueComponent.vue'
import AstroComponent from '@/components/AstroComponent.astro'
import { ReactComponent } from '../components/ReactComponent'
---

<Layout>
   <a href="/about">About</a>

   <VueComponent client:load />
   <ReactComponent client:load />
   <AstroComponent />
</Layout>
