{
   "trailingComma": "es5",
   "singleQuote": true,
   "printWidth": 100,
   "tabWidth": 3,
   "semi": false,
   "useTabs": false,
   "overrides": [
      {
         "files": "README.md",
         "options": {
            "trailingComma": "none",
            "useTabs": false,
            "semi": false
         }
      }
   ]
}
