[data-notivue-y] {
   --notivue-easing: 300ms cubic-bezier(0.22, 1, 0.36, 1);
}

[data-notivue-y='top'] {
   --notivue-ty: -200px;
   --notivue-ty-origin: top;
}

[data-notivue-y='bottom'] {
   --notivue-ty: 200px;
   --notivue-ty-origin: bottom;
}

.Notivue__enter {
   animation: Notivue__enter-kf var(--notivue-easing);
}

@keyframes Notivue__enter-kf {
   0% {
      transform: scale(0.5) translate3d(0, var(--notivue-ty), 0);
      opacity: 0;
   }
   100% {
      transform: scale(1) translate3d(0, 0, 0);
      opacity: 1;
   }
}

.Notivue__leave {
   animation: Notivue__leave-kf var(--notivue-easing);
}

@keyframes Notivue__leave-kf {
   100% {
      transform-origin: var(--notivue-ty-origin);
      transform: scale(1);
      opacity: 1;
   }
   100% {
      transform: scale(0.7);
      opacity: 0;
   }
}

.Notivue__clearAll {
   animation: Notivue__clearAll-kf 500ms cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes Notivue__clearAll-kf {
   0% {
      filter: blur(0);
      opacity: 1;
   }
   100% {
      filter: blur(8px);
      opacity: 0;
   }
}
