<div>
   <h3>From a Script Tag</h3>

   <button data-static>Push</button>
   <button data-dynamic>Push dynamic</button>
   <button data-clear-all>Clear All</button>
   <button data-destroy-all>Destroy All</button>
</div>

<script>
   import { push } from 'notivue/astro'

   function pushStatic() {
      push.success({
         title: 'Vue Notification',
         message: 'Notification from a Script Tag!',
      })
   }

   function pushDynamic() {
      const pending = push.promise({
         title: 'Updating…',
         message: 'This dynamic notification is still updating.',
      })

      setTimeout(() => {
         pending.resolve({
            title: 'Notification',
            message: 'Update finished — notification from a script tag.',
         })
      }, 2000)
   }

   const events = [
      ['data-static', pushStatic],
      ['data-dynamic', pushDynamic],
      ['data-clear-all', push.clearAll],
      ['data-destroy-all', push.destroyAll],
   ] as const

   function addListeners() {
      events.forEach(([e, fn]) => {
         document.querySelector(`[${e}]`)?.addEventListener('click', fn)
      })
   }

   function removeListeners() {
      events.forEach(([e, fn]) => {
         document.querySelector(`[${e}]`)?.removeEventListener('click', fn)
      })
   }

   addListeners()

   // Only needed if using View Transitions

   document.addEventListener('astro:before-swap', removeListeners)
   document.addEventListener('astro:after-swap', addListeners)
</script>
