# Logs
pnpm-debug.log*

node_modules
.DS_Store
dist
coverage

/cypress/downloads/
/cypress/screenshots/
/cypress/videos/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
