@media (prefers-reduced-motion: no-preference) {
   .Notivue__notification {
      &:has(.Notivue__progress) {
         border-radius: var(--nv-radius, 0) var(--nv-radius, 0) var(--nv-radius, 0) 0;

         & .Notivue__content-message {
            margin-bottom: 4px;
         }
      }
   }

   .Notivue__progress {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--nv-accent);
      animation: Notivue__progress-kf var(--nv-anim-dur) linear forwards;
      transform-origin: left;
      border-radius: 0 var(--nv-radius, 0) var(--nv-radius, 0) 0;

      @media (prefers-reduced-motion: reduce) {
         animation: none;
      }
   }

   [dir='rtl'] .Notivue__progress {
      transform-origin: right;
   }

   @keyframes Notivue__progress-kf {
      0% {
         transform: scaleX(1);
      }
      100% {
         transform: scaleX(0);
      }
   }
}

@media (prefers-reduced-motion: reduce) {
   .Notivue__progress {
      display: none;
   }
}
