[data-notivue='success'],
[data-notivue='promise-resolve'] {
   --nv-bg: var(--nv-success-bg);
   --nv-fg: var(--nv-success-fg);
   --nv-accent: var(--nv-success-accent);
   --nv-border: var(--nv-success-border);
}

[data-notivue='error'],
[data-notivue='promise-reject'] {
   --nv-bg: var(--nv-error-bg);
   --nv-fg: var(--nv-error-fg);
   --nv-accent: var(--nv-error-accent);
   --nv-border: var(--nv-error-border);
}

[data-notivue='warning'] {
   --nv-bg: var(--nv-warning-bg);
   --nv-fg: var(--nv-warning-fg);
   --nv-accent: var(--nv-warning-accent);
   --nv-border: var(--nv-warning-border);
}

[data-notivue='info'] {
   --nv-bg: var(--nv-info-bg);
   --nv-fg: var(--nv-info-fg);
   --nv-accent: var(--nv-info-accent);
   --nv-border: var(--nv-info-border);
}

[data-notivue='promise'] {
   --nv-bg: var(--nv-promise-bg);
   --nv-fg: var(--nv-promise-fg);
   --nv-accent: var(--nv-promise-accent);
   --nv-border: var(--nv-promise-border);
}

[dir='rtl'] .Notivue__notification {
   --tip-width-fx: -1;
}

.Notivue__notification {
   --tip-width: calc(var(--tip-width-fx, 1) * var(--nv-tip-width, 0px));

   box-sizing: border-box;
   position: relative;
   width: var(--nv-width);
   max-width: 100%;
   background-color: var(--nv-bg, var(--nv-global-bg));
   display: flex;
   align-items: var(--nv-y-align);
   border-radius: var(--nv-radius, 0);
   border: var(--nv-border-width, 0) solid var(--nv-border, var(--nv-global-border));

   box-shadow: var(--nv-shadow, 0 0 rgba(0, 0, 0, 0)),
      inset var(--tip-width) 0 0 var(--nv-accent, var(--nv-global-accent));

   & * {
      touch-action: manipulation;
      box-sizing: border-box;
   }
}

.Notivue__icon {
   display: flex;
   min-width: var(--nv-icon-size);
   width: var(--nv-icon-size);
   margin: var(--nv-spacing);
   margin-inline-start: calc(var(--nv-tip-width, 0) + var(--nv-spacing));

   animation: Notivue__icon-pop-kf 200ms ease-in-out backwards;
   color: var(--nv-accent, var(--nv-global-accent));

   @media (prefers-reduced-motion) {
      animation-duration: 0s;
   }
}

@keyframes Notivue__icon-pop-kf {
   0% {
      opacity: 0;
      transform: scale(0.33);
   }

   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.Notivue__content {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   text-align: inherit;
   padding: var(--nv-spacing) 0;
}

.Notivue__content-title {
   line-height: 1.15;
   font-weight: 700;
   color: var(--nv-fg, var(--nv-global-fg));
   font-size: var(--nv-title-size);
   margin: 0 0 0.33em 0;
   padding: 0;
}

.Notivue__content-message {
   font-weight: 500;
   opacity: 0.9;
   max-height: 250px;
   overflow: auto;
   line-height: 1.375;
   color: var(--nv-fg, var(--nv-global-fg));
   margin: calc(-1 * (0.375em / 2)) 0 0 0;
   padding: 0;
   font-size: var(--nv-message-size);
   white-space: pre-line;
}

[dir='rtl'] .Notivue__content-message {
   font-size: calc(var(--nv-message-size) + 0.25em);
}

.Notivue__close {
   margin: 0;
   cursor: pointer;
   padding: var(--nv-spacing);
   font-weight: 700;
   border: none;
   background: none;
   opacity: 0.5;
   color: var(--nv-fg, var(--nv-global-fg));
   transition: 100ms opacity ease-out;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

   &:focus-visible {
      outline: none;
      box-shadow: none;
   }

   &:hover {
      opacity: 1;
   }
}

.Notivue__close-icon {
   width: var(--nv-icon-size);
   display: flex;
   color: var(--nv-fg, var(--nv-global-fg));
   pointer-events: none;
}
