<div>
   <h3>From a Script Tag</h3>

   <button data-static>Push</button>
   <button data-dynamic>Push dynamic</button>
   <button data-clear-all>Clear All</button>
   <button data-destroy-all>Destroy All</button>
</div>

<script>
   import { notify } from 'notivue/astro'

   function notifyStatic() {
      notify.success({
         title: 'Vue Notification',
         message: 'Notification from a Script Tag!',
      })
   }

   function notifyDynamic() {
      const notification = notify.promise({
         title: 'Updating…',
         message: 'This dynamic notification is still updating.',
      })

      setTimeout(() => {
         notification.resolve({
            title: 'Notification',
            message: 'Update finished — notification from a script tag.',
         })
      }, 2000)
   }

   const events = [
      ['data-static', notifyStatic],
      ['data-dynamic', notifyDynamic],
      ['data-clear-all', notify.clearAll],
      ['data-destroy-all', notify.destroyAll],
   ] as const

   function addListeners() {
      events.forEach(([e, fn]) => {
         document.querySelector(`[${e}]`)?.addEventListener('click', fn)
      })
   }

   function removeListeners() {
      events.forEach(([e, fn]) => {
         document.querySelector(`[${e}]`)?.removeEventListener('click', fn)
      })
   }

   addListeners()

   // Only needed if using View Transitions

   document.addEventListener('astro:before-swap', removeListeners)
   document.addEventListener('astro:after-swap', addListeners)
</script>
