[data-notivue-align='top'] .Notivue__enter {
   --notivue-ty: -80px;
}

[data-notivue-align='bottom'] .Notivue__enter {
   --notivue-ty: 80px;
}

.Notivue__enter {
   animation: Notivue__enter-kf 300ms cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes Notivue__enter-kf {
   0% {
      transform: scale3d(0.9, 0.9, 0.45) translate3d(0, var(--notivue-ty), 0);
      opacity: 0;
   }

   75% {
      opacity: 1;
   }

   100% {
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
   }
}

.Notivue__leave {
   animation: Notivue__leave-kf 300ms cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes Notivue__leave-kf {
   100% {
      transform: scale(1);
      opacity: 1;
   }
   100% {
      transform: scale(1.05);
      opacity: 0;
   }
}

.Notivue__clearAll {
   animation: Notivue__clearAll-kf 500ms cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes Notivue__clearAll-kf {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
