.VueNotify__notification {
	--VNGap: 0.875rem;
	background: white;
	margin: 0 0 var(--VNGap) 0;
	padding: 0.75rem 0 0.75rem 0.75rem;
	width: 375px;
	border-radius: 0.75rem;
	display: grid;
	grid-template-columns: auto 1fr minmax(0, auto);
	gap: var(--VNGap);
	border: 1px solid #dedede;
	justify-items: center;
	align-items: center;
	box-shadow: 0 calc(1rem / 3) calc(1rem / 2) rgba(0, 0, 0, 0.08);
	pointer-events: all;
}

.VueNotify__content {
	display: grid;
	gap: calc(1rem / 4);
}

.VueNotify__content-title {
	color: #2b2b2b;
	font-weight: 700;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	text-align: left;
}

.VueNotify__content-message {
	color: #666666;
	font-weight: 600;
	line-height: 1.35;
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 0.875rem;
}

.VueNotify__icon {
	display: flex;
}

[data-vuenotify='success'] .VueNotify__icon,
[data-vuenotify='promise-resolve'] .VueNotify__icon {
	color: #28b780;
}

[data-vuenotify='error'] .VueNotify__icon,
[data-vuenotify='promise-reject'] .VueNotify__icon {
	color: #ef4444;
}

[data-vuenotify='info'] .VueNotify__icon {
	color: #3e8eff;
}

[data-vuenotify='warning'] .VueNotify__icon {
	color: #f59e0b;
}

/* Right */

.VueNotify__button {
	border: none;
	border-left: 1px solid #dedede;
	border-radius: 0;
	background: none;
	padding: var(--VNGap);
	margin: 0;
	opacity: 0.5;
	height: 100%;
}

.VueNotify__button svg {
	display: flex;
	opacity: 0.5;
	fill: #8e8e8e;
}

.VueNotify__button:hover svg {
	opacity: 1;
}

/** Promise Spinner */

.VueNotify__spinner {
	transform-origin: center;
	animation: VueNotify__spinner-out 2s linear infinite;
}

.VueNotify__spinner circle {
	stroke-linecap: round;
	animation: VueNotify__spinner-in 1.5s ease-in-out infinite;
}

@keyframes VueNotify__spinner-out {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes VueNotify__spinner-in {
	0% {
		stroke-dasharray: 0 150;
		stroke-dashoffset: 0;
	}
	47.5% {
		stroke-dasharray: 42 150;
		stroke-dashoffset: -16;
	}
	95%,
	100% {
		stroke-dasharray: 42 150;
		stroke-dashoffset: -59;
	}
}
