.VueNotify__root {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100vw;
	top: 0;
	left: 0;
}

.VueNotify__hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
