@font-face {
   font-display: swap;
   font-family: 'PT Sans Narrow';
   font-style: normal;
   font-weight: 400;
   src: url('./assets/pt-sans-narrow-v17-latin-regular.woff2') format('woff2');
}

@font-face {
   font-display: swap;
   font-family: 'PT Sans Narrow';
   font-style: normal;
   font-weight: 700;
   src: url('./assets/pt-sans-narrow-v17-latin-700.woff2') format('woff2');
}

:root {
   font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

html {
   --background-gradient: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(150, 219, 248, 1) 100%
   );
   --background-color: #fff;
   --button-bg-color: #fff;
   --button-color: #6b7a90;
   --button-active-bg-color: #6b7a90;
   --button-active-color: #fff;
   --nav-border-color: #fff;
   --nav-bg-color: hsla(0, 0%, 100%, 0.35);
   --legend-title-color: #6b7a90;
   --logo-fill: #455162;
   --logo-stroke: #1e2226;
   --links-color: #424850;

   background: var(--background-color);
   background: var(--background-gradient);
}

html[data-theme='dark'] {
   --background-color: #343434;
   --button-bg-color: #2f2f2f;
   --button-color: #7f7f7f;
   --button-active-bg-color: #545454;
   --button-active-color: #fff;
   --nav-border-color: #595959;
   --nav-bg-color: rgba(86, 86, 86, 0.35);
   --legend-title-color: #fff;
   --logo-fill: #7b7b7b;
   --logo-stroke: #141414;
   --links-color: #d7d7d7;

   background: var(--background-color);
   background-color: var(--background-color);
}

html[data-theme='slate'] {
   --background-color: #191d24;
   --button-bg-color: #191d24;
   --button-color: #878b92;
   --button-active-bg-color: #4c5665;
   --button-active-color: #fff;
   --nav-border-color: #334155;
   --nav-bg-color: hsl(216.7, 17%, 20.8%);
   --legend-title-color: #fff;
   --logo-fill: #878b92;
   --logo-stroke: #141414;
   --links-color: #d7d7d7;

   background: var(--background-color);
   background-color: var(--background-color);
}

body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
}

#app {
   font-family: 'PT Sans Narrow', Avenir, Helvetica, Arial, sans-serif;
}

* {
   box-sizing: border-box;
}

.ButtonBase {
   line-height: normal;
   background-color: var(--button-bg-color);
   border-radius: 5px;
   padding: 0.25em 0.5em;
   border: none;
   font-size: 1rem;
   display: flex;
   gap: 5px;
   align-items: center;
   cursor: pointer;
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.03);
   transition: transform 100ms ease-in-out;
   font-family: 'PT Sans Narrow', Avenir, Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: var(--button-color);
   white-space: nowrap;

   &:hover {
      transform: scale(1.1);
   }
}

.SwitchButton {
   font-weight: 700;
   justify-items: center;

   &[aria-checked='true'] {
      background-color: var(--button-active-bg-color);
      color: var(--button-active-color);
   }
}
