.Notsy__enter {
   animation: Notsy__enter-kf 250ms cubic-bezier(0.22, 1, 0.36, 1) backwards;
}

.Notsy__leave {
   animation: Notsy__leave-kf 250ms cubic-bezier(0.22, 1, 0.36, 1) backwards;
}

.Notsy__clearAll {
   animation: Notsy__clearAll-kf 600ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes Notsy__enter-kf {
   0% {
      transform: scale(0.7) translate3d(0, 10vh, 0);
      opacity: 0;
   }
   100% {
      transform: scale(1) translate3d(0, 0, 0);
      opacity: 1;
   }
}

@keyframes Notsy__leave-kf {
   from {
      transform: scale(1) translate3d(0, 0, 0);
      opacity: 1;
   }
   to {
      transform: scale(0.5) translate3d(0, -50px, 0);
      opacity: 0;
   }
}

@keyframes Notsy__clearAll-kf {
   0% {
      filter: blur(0);
      opacity: 1;
   }
   100% {
      filter: blur(10px);
      opacity: 0;
   }
}
