[data-notivue='success'] {
   --ny-background: var(--ny-success-background);
   --ny-foreground: var(--ny-success-foreground);
   --ny-accent: var(--ny-success-accent);
   --ny-border: var(--ny-success-border);
}

[data-notivue='error'] {
   --ny-background: var(--ny-error-background);
   --ny-foreground: var(--ny-error-foreground);
   --ny-accent: var(--ny-error-accent);
   --ny-border: var(--ny-error-border);
}

[data-notivue='warning'] {
   --ny-background: var(--ny-warning-background);
   --ny-foreground: var(--ny-warning-foreground);
   --ny-accent: var(--ny-warning-accent);
   --ny-border: var(--ny-warning-border);
}

[data-notivue='info'] {
   --ny-background: var(--ny-info-background);
   --ny-foreground: var(--ny-info-foreground);
   --ny-accent: var(--ny-info-accent);
   --ny-border: var(--ny-info-border);
}

[data-notivue='promise'] {
   --ny-background: var(--ny-promise-background);
   --ny-foreground: var(--ny-promise-foreground);
   --ny-accent: var(--ny-promise-accent);
   --ny-border: var(--ny-promise-border);
}

[data-notivue='promise-resolve'] {
   --ny-background: var(--ny-promise-resolve-background, var(--ny-success-background));
   --ny-foreground: var(--ny-promise-resolve-foreground, var(--ny-success-foreground));
   --ny-accent: var(--ny-promise-resolve-accent, var(--ny-success-accent));
   --ny-border: var(--ny-promise-resolve-border, var(--ny-success-border));
}

[data-notivue='promise-reject'] {
   --ny-background: var(--ny-promise-reject-background, var(--ny-error-background));
   --ny-foreground: var(--ny-promise-reject-foreground, var(--ny-error-foreground));
   --ny-accent: var(--ny-promise-reject-accent, var(--ny-error-accent));
   --ny-border: var(--ny-promise-reject-border, var(--ny-error-border));
}

.Notivue__notification {
   width: var(--ny-width);
   max-width: 100%;
   padding: var(--ny-spacing);
   background-color: var(--ny-background, var(--ny-global-background));

   display: grid;
   justify-items: var(--ny-y-align);
   align-items: center;
   grid-template-columns: auto 1fr auto;

   border-style: solid;
   border-width: var(--ny-border-width, 0);
   border-radius: var(--ny-radius, 0);
   border-color: var(--ny-border, var(--ny-global-border));

   box-sizing: border-box;
   box-shadow: var(--ny-shadow);

   & * {
      box-sizing: border-box;
   }
}

.Notivue__icon {
   display: flex;
   color: var(--ny-accent, var(--ny-global-accent));
   margin: 0;
   margin-inline-end: var(--ny-spacing);
}

.Notivue__content-title {
   line-height: 1.15;
   font-weight: 700;
   color: var(--ny-foreground, var(--ny-global-foreground));
   font-size: var(--ny-title-size);
   margin: 0 0 0.33em 0;
   padding: 0;
   text-align: inherit;
}

.Notivue__content-message {
   font-weight: 600;
   opacity: 0.8;
   max-height: 250px;
   overflow: auto;
   line-height: 1.375;
   color: var(--ny-foreground, var(--ny-global-foreground));
   text-align: inherit;
   margin: 0;
   padding: 0;
   font-size: var(--ny-message-size);
}

.Notivue__close {
   position: relative;
   inset-inline-start: var(--ny-spacing);
   height: 100%;
   margin: 0;
   cursor: pointer;
   padding: var(--ny-spacing);

   border: none;
   border-radius: 0;
   border-inline-start: 1px solid var(--ny-border, var(--ny-global-border));

   background: none;
   opacity: 0.5;
}

.Notivue__close-icon {
   display: flex;
   opacity: 0.5;
   font-weight: 700;
   transition: 100ms opacity ease-out;
   color: var(--ny-foreground, var(--ny-global-foreground));
}

.Notivue__close:hover .Notivue__close-icon {
   opacity: 1;
}
