[data-notivue='success'] {
   --nv-bg: var(--nv-success-background);
   --nv-fg: var(--nv-success-foreground);
   --nv-accent: var(--nv-success-accent);
   --nv-border: var(--nv-success-border);
}

[data-notivue='error'] {
   --nv-bg: var(--nv-error-background);
   --nv-fg: var(--nv-error-foreground);
   --nv-accent: var(--nv-error-accent);
   --nv-border: var(--nv-error-border);
}

[data-notivue='warning'] {
   --nv-bg: var(--nv-warning-background);
   --nv-fg: var(--nv-warning-foreground);
   --nv-accent: var(--nv-warning-accent);
   --nv-border: var(--nv-warning-border);
}

[data-notivue='info'] {
   --nv-bg: var(--nv-info-background);
   --nv-fg: var(--nv-info-foreground);
   --nv-accent: var(--nv-info-accent);
   --nv-border: var(--nv-info-border);
}

[data-notivue='promise'] {
   --nv-bg: var(--nv-promise-background);
   --nv-fg: var(--nv-promise-foreground);
   --nv-accent: var(--nv-promise-accent);
   --nv-border: var(--nv-promise-border);
}

[data-notivue='promise-resolve'] {
   --nv-bg: var(--nv-promise-resolve-background, var(--nv-success-background));
   --nv-fg: var(--nv-promise-resolve-foreground, var(--nv-success-foreground));
   --nv-accent: var(--nv-promise-resolve-accent, var(--nv-success-accent));
   --nv-border: var(--nv-promise-resolve-border, var(--nv-success-border));
}

[data-notivue='promise-reject'] {
   --nv-bg: var(--nv-promise-reject-background, var(--nv-error-background));
   --nv-fg: var(--nv-promise-reject-foreground, var(--nv-error-foreground));
   --nv-accent: var(--nv-promise-reject-accent, var(--nv-error-accent));
   --nv-border: var(--nv-promise-reject-border, var(--nv-error-border));
}

.Notivue__notification {
   --nv-factor: 1;
   width: var(--nv-width);
   max-width: 100%;
   padding: var(--nv-spacing);
   background-color: var(--nv-bg, var(--nv-global-background));
   display: grid;
   grid-template-columns: 1fr auto;
   align-items: center;
   border: var(--nv-border-width, 0) solid var(--nv-border, var(--nv-global-border));
   border-radius: var(--nv-radius, 0);
   box-sizing: border-box;
   box-shadow: var(--nv-shadow),
      inset calc(var(--nv-tip-width, 0px) * var(--nv-factor)) 0 0 0
         var(--nv-accent, var(--nv-global-accent));

   & * {
      box-sizing: border-box;
   }

   &[data-icon] {
      grid-template-columns: auto 1fr auto;
   }
}

[dir='rtl'] .Notivue__notification {
   --nv-factor: -1;
}

.Notivue__icon {
   display: flex;
   color: var(--nv-accent, var(--nv-global-accent));
   margin: 0;
   margin-inline-end: var(--nv-spacing);
   margin-inline-start: var(--nv-tip-width, 0);
}

.Notivue__content-title {
   line-height: 1.15;
   font-weight: 700;
   color: var(--nv-fg, var(--nv-global-foreground));
   font-size: var(--nv-title-size);
   margin: 0 0 0.33em 0;
   padding: 0;
   text-align: inherit;
}

.Notivue__content-message {
   font-weight: 500;
   opacity: 0.9;
   max-height: 250px;
   overflow: auto;
   line-height: 1.375;
   color: var(--nv-fg, var(--nv-global-foreground));
   text-align: inherit;
   margin: 0;
   padding: 0;
   font-size: var(--nv-message-size);
}

.Notivue__close {
   position: relative;
   inset-inline-start: var(--nv-spacing);
   margin: 0;
   cursor: pointer;
   padding: var(--nv-spacing);
   height: 100%;
   max-height: 60px;
   border: none;
   border-radius: 0;
   background: none;
   opacity: 0.5;
   max-width: max-content;

   &::before {
      content: '';
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      width: 1px;
      opacity: 30%;
      background-color: var(--nv-fg, var(--nv-global-foreground));
   }

   &:focus-visible {
      outline: none;
      opacity: 1;

      &::before {
         --border-width: 2px;
         background: rgba(0, 0, 0, 0);
         content: '';
         position: absolute;
         height: calc(100% + 2 * var(--nv-spacing, 0));
         top: calc(-1 * var(--nv-spacing, 0) - 2px);
         width: 100%;
         left: -2px;
         border-radius: 0 var(--nv-radius, 0) var(--nv-radius, 0) 0;
         border: 2px solid #3e8eff;
         opacity: 1;
      }
   }
}

[dir='rtl'] .Notivue__close {
   &::before {
      right: 0;
      left: auto;
   }

   &:focus-visible::before {
      left: auto;
      right: -2px;
      border-radius: var(--nv-radius, 0) 0 0 var(--nv-radius, 0);
   }
}

.Notivue__close-icon {
   display: flex;
   opacity: 0.5;
   font-weight: 700;
   transition: 100ms opacity ease-out;
   color: var(--nv-fg, var(--nv-global-foreground));
}

.Notivue__close:hover .Notivue__close-icon {
   opacity: 1;
}
