/* Container */

.VueNotify__notification {
   background: var(--VNBackground);
   padding: 0.625rem;
   width: var(--VNWidth);
   max-width: 100%;
   border-radius: 0.75rem;
   display: grid;
   grid-template-columns: auto 1fr auto;
   border: var(--VNBorderRadius);
   justify-items: start;
   align-items: center;
   pointer-events: auto;
   box-shadow: var(--VNBoxShadow);
   box-sizing: border-box;
   will-change: transform;
}

/* Icon */

.VueNotify__icon {
   animation: KFPopIn 200ms cubic-bezier(0.22, 1, 0.36, 1) both 150ms;
   display: flex;
   margin: 0 0.875rem 0 0;
}

[data-vuenotify='success'] .VueNotify__icon,
[data-vuenotify='promise-resolve'] .VueNotify__icon {
   color: var(--VNSuccessColor);
}

[data-vuenotify='error'] .VueNotify__icon,
[data-vuenotify='promise-reject'] .VueNotify__icon {
   color: var(--VNErrorColor);
}

[data-vuenotify='promise'] .VueNotify__icon {
   color: var(--VNPromiseColor);
}

[data-vuenotify='info'] .VueNotify__icon {
   color: var(--VNInfoColor);
}

[data-vuenotify='warning'] .VueNotify__icon {
   color: var(--VNWarningColor);
}

/* Content */

.VueNotify__content {
   display: grid;
   gap: calc(1rem / 4);
}

.VueNotify__content-title {
   color: var(--VNTitleColor);
   font-weight: 700;
   font-size: 1rem;
   padding: 0;
   margin: 0;
   text-align: left;
}

.VueNotify__content-message {
   color: var(--VNMessageColor);
   font-weight: 600;
   line-height: 1.35;
   text-align: left;
   margin: 0;
   padding: 0;
   font-size: 0.875rem;
}

/* Close */

.VueNotify__close {
   left: 0.625rem;
   position: relative;
   border: none;
   margin: 0;
   border-left: var(--VNBorder);
   border-radius: 0;
   background: none;
   padding: 0.875rem;
   opacity: 0.5;
   height: 100%;
}

.VueNotify__close-icon {
   display: flex;
   opacity: 0.5;
   color: var(--VNCloseColor);
}

.VueNotify__close:hover .VueNotify__close-icon {
   opacity: 1;
}
