/* Transition */

.VNRoot-enter-from {
	opacity: 0;
	transform: scale(0.85) translate3d(0, -40px, 0);
}

.VNRoot-enter-active,
.VNRoot-leave-active {
	--CBCBZR: 400ms cubic-bezier(0.25, 1, 0.5, 1);
	transition: transform var(--CBCBZR), opacity var(--CBCBZR);
}

.VNRoot-leave-to {
	opacity: 0;
}

/* Transition Group */

.VNList-enter-from,
.VNList-leave-to {
	opacity: 0;
	transform: scale(0.85) translate3d(0, -40px, 0);
}

.VNList-enter-active,
.VNList-leave-active,
.VNList-move {
	--CBCBZR: 400ms cubic-bezier(0.25, 1, 0.5, 1);
	transition: transform var(--CBCBZR), opacity var(--CBCBZR);
}

.VNList-leave-active {
	position: absolute;
}
